{{- $img := resources.GetMatch .Destination -}}
{{- if not $img -}}
{{- $img = .Page.Resources.GetMatch .Destination -}}
{{- end -}}
<p>
    {{- if eq $img nil -}}
    <img src='{{ .Destination }}'>
    {{- else -}}
    <img src='{{ ($img.Resize (printf "%sx" (string (site.Params.image.default_width | default "525")))).RelPermalink | safeURL }}'
         {{ with .Text }}alt='{{ . }}'{{ end }}
         {{ with .Title }}title='{{ . }}'{{ end }}
         data-src='{{ $img.RelPermalink | safeURL }}'
         class=lazy
         loading=lazy>
    {{- end -}}
</p>
