// -----------------------------------------------------------------------------
// Content size

.hero, .hero-1, .hero-2 {
  object-fit: cover;
  width: 100%;
  background-attachment: fixed}

.hero   { height: 100vh}
.hero-1 { height: calc(100vh - #{$bar-height})}
.hero-2 { height: calc(100vh - #{$bar-height}*2)}

// Horizontal sizing

%cnt {
  margin-left: auto;
  margin-right: auto;}

.cnt {
  @extend %cnt;
  max-width: $breakpoint;
  @each $orientation in (left, right) {
    &.cnt-#{$orientation} {
        margin-#{$orientation}: 0}}}

@each $direction, $modifier in (1 $x1, 2 $x2) {
  .cnt\+#{$direction} {
    @extend %cnt;
    max-width: $breakpoint * $modifier;
    @each $orientation, $o in (l left, r right) {
      &.cnt-#{$orientation} {
        margin-#{$o}: 0}}}}

article {
  padding: 0 $spacing;
  position: relative;
  &.bg-bar:before, {
    content: " ";
    position: absolute;
    top: -$spacing;
    left: 50%;
    height: $bar-height;
    width: 1px;
    background: $fg;
  }
  @media(max-width:$breakpoint) {
    padding: 0 $spacing}}

// Vertical sizing

section, %section {
  padding-bottom: $spacing*3}

.header, %header {
  padding-top: $spacing*3}

header {
  @extend %header;
  @extend %section}

.bar {
  height: $bar-height;
  width: 100%;
  z-index: 10}

// Visibility

.hidden {
  display: none}

.hide {
  @media(max-width:$breakpoint) {
    display: none !important}}

.invis {
  opacity: 0;
  &:hover { opacity: 1}}

.sticky {
  position: sticky;
  top: $spacing}

// -----------------------------------------------------------------------------
// Flexbox

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  &.row-x {
    flex-direction: row}
  @media(min-width:$breakpoint) {
    flex-direction: row}

  &.row-t { align-items: flex-start}
  &.row-m { align-items: center}
  &.row-b { align-items: flex-end}
  &.row-i { justify-content: space-between}
  &.row-s { justify-content: space-around}
  &.row-i, &.row-s {
    .col {
      margin-left: $spacing / 2;
      &:first-of-type { margin-left: 0}
      margin-right: $spacing / 2;
      &:last-of-type { margin-right: 0}
      @media(max-width:$breakpoint) {
        margin: $spacing / 2 0;
        &:first-of-type { margin-top: 0}
        &:last-of-type { margin-bottom: 0}}}}

  .col {
    position: relative;
    flex: 1 1 auto;
    display: block;
    width: 100%;

    @for $numerator from 1 through 12 {
      &.col-#{$numerator}\/12 { max-width: 100%}}

    @media(min-width:$breakpoint) {
      @each $size in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11) {
        &.col-#{$size}\/12 {
          flex:  0 0 percentage($size/12);
          max-width: percentage($size/12)}}}}}
