.\+opacity {
  animation: opac 1.8s backwards}
  @keyframes opac {
    from { opacity:0} to { opacity:1}}

.\+top {
  position:relative;animation:animatetop 0.5s backwards}
  @keyframes animatetop {
    from { top:-300px;opacity:0} to { top:0;opacity:1}}

.\+left {
  position:relative;animation:animateleft 0.5s backwards}
  @keyframes animateleft {
    from { left:-300px;opacity:0} to { left:0;opacity:1}}

.\+right {
  position:relative;animation:animateright 0.5s backwards}
  @keyframes animateright {
    from { right:-300px;opacity:0} to { right:0;opacity:1}}

.\+bottom {
  position:relative;animation:animatebottom 0.5s backwards}
  @keyframes animatebottom {
    from { bottom:-300px;opacity:0} to { bottom:0;opacity:1}}

@mixin delays($n) {
  .\+#{$n} {
    animation-delay: #{$n*2}00ms}}

@for $i from 1 through 20 { @include delays($i)}
