// GLOBALS ------------------------------------------------------------------

// Colors
$bg: {{ .Site.Params.colors.bg | default "white" }};
$light: {{ .Site.Params.colors.light | default "#f7f8f9" }};
$gray: {{ .Site.Params.colors.gray | default "#9daec3" }};
$dark: {{ .Site.Params.colors.dark | default "#1c3753" }};
$fg: {{ .Site.Params.colors.fg | default "#091725" }};
$overlay: {{ .Site.Params.colors.overlay | default "rgba(205, 135, 85, 0.5)" }};

// Fonts
$body: {{ .Site.Params.fonts.body | default "Heebo" }}, sans-serif;
$title: {{ .Site.Params.fonts.title | default "Playfair Display" }}, serif;

// Sizes
$size: {{ .Site.Params.fonts.size | default "1.6rem" }};
$breakpoint: {{ .Site.Params.fonts.breakpoint | default "50rem" }};
$x1: {{ .Site.Params.fonts.x1 | default "1.5" }};
$x2: {{ .Site.Params.fonts.x2 | default "2.5" }};
$spacing: $size * {{ .Site.Params.fonts.spacing | default "2.5" }};
$bar-height: $spacing * 3;

// Stylesheets
@import "normalize";
@import "alignment";
@import "animations";

// TYPOGRAPHY ----------------------------------------------------------------

body {
  color: $fg;
  font: 400 #{$size}/1.75 $body}

// Headers

h1, h2, h3, h4, h5, h6, .h {
  margin: $spacing 0 0;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font: 1.5rem/1.5 $title}

h1 {
  margin: 0;
  font-size: 2.5em;
  @media(max-width:$breakpoint) {
    font-size: 2em;
    line-height: 1}}

h2 {
  font-size: 1.2em}

// Texts

p, li {
  color: $dark;
  font-weight: 300}

p { margin: $spacing 0 0; }

ul {
  &.inline, &.vertical {
    padding: 0;
    margin: 0 auto;
    li { list-style-type: none}}}

ul.inline { // horizontal lists
  li, li img {
    display: inline;
    margin-left: $spacing;
    &:first-of-type { margin-left: 0}}}

li p { margin: 0; }

blockquote {
  font: 2rem/1.5 $title;
  font-style: italic;
  position: relative;
  display: inline-block;
  margin: $spacing;
  &:before {
      content: "\201C";
      padding: 0;
      margin: 0;
      font-size: 8rem;
      line-height: 1;
      position: absolute;
      top: 0;
      left: -$spacing - 1rem;
      color: $gray}}

// Interactive links

a {
  color: inherit;
  text-decoration: none;
  position: relative}

.a-img { display: inline-block}

.link a:not(.no-anim) {
  &:after {
    content: "";
    position: absolute;
    top: -33.33%;
    left: 0;
    width: 100%;
    height: .1rem;
    background: $gray;
    transition: top .2s}
  &:hover:after, &:active:after {
    top: 133.33%}}

figure {
  $distance: 0.75rem;
  $thickness: 0.2rem;
  position: relative;
  img { filter: grayscale(0.5)}
  &:after {
    content: " ";
    position: absolute;
    pointer-events: none;
    top: 0; left: 0; bottom: 0; right: 0;
    background: $overlay;
    padding: $thickness;
    border: solid $distance $overlay;
    background-clip: content-box;
    transition: all 0.2s}
  &:hover, &:active {
    img { filter: grayscale(0)}
    &:after {
      top: $distance; left: $distance; bottom: $distance; right: $distance;
      height: calc(100% - 2 * $distance);
      width: calc(100% - 2 * $distance);
      border: solid 0.1rem $bg;
      background: linear-gradient(to bottom,
                                  rgba(0,0,0,0),
                                  rgba(0,0,0,0),
                                  rgba(0,0,0,.8))}}}

figcaption {
  h1, h2, h3, h4, h5, h6, p, div {
    line-height: 1;
    margin: 0;
    padding-bottom: $spacing}
  z-index: 1;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  padding: 0 $spacing 0;
  text-align: center;
  color: $bg}

// Styling classes

.bg { background-color: $bg}
.light { background-color: $light; border-top: solid 1px #{$gray}44}
.gray { background-color: $gray}
.dark { background-color: $dark}
.fg { background-color: $fg}

.small, small { font-size: 0.75em}
.left { text-align: left}
.middle { text-align: center}
.right { text-align: right}
.upper { text-transform: uppercase}
.spaced { letter-spacing: 0.15em}
.link {
  @extend .upper;
  @extend .spaced;
  @extend small;
}

.spoiler-alt { display: none}
.spoiler:hover {
  .spoiler-main { display: none}
  .spoiler-alt.row { display: flex}
  .spoiler-alt { display: block}}

// // ELEMENTS ------------------------------------------------------------------

#cta {
  h1, p { color: $bg}
  @media(min-width:$breakpoint) {
    font-size: 1.25em}}

#home, #list {
  .banner {
    position: fixed;
    z-index: 0;
    filter: brightness(50%);
    top: 0;
    left: 0}}

#post {
  a {
    color: $gray;
    &:hover, &:active {
      text-decoration: underline}}
  img { margin: 0}
  .banner {
    height: 40rem;
    object-fit: cover}}

.logo {
  vertical-align: middle;
  display: inline;
  height: 7.6em;
  width: 5em}

.icon {
  height: $spacing;
  width:  $spacing}

nav {
  // color: $bg; .logo { color: $bg}
  text-align: center;
  position: fixed; top: 0; left: 0;
  transition: opacity 0.2s;
  & + main {
    padding-top: $bar-height}
  @media(max-width:$breakpoint) {
    ul li {
      margin: 0 !important}}}

.date {
  background: $bg;
  padding: 1em 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.85em}

#sidebar {
  p { margin-bottom: $spacing; }
  .h {
    &:after {
      content: " ";
      background: $fg;
      display: block;
      margin: 3rem auto;
      width: 0.1rem;
      height: 3rem}}}

#post .float {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar { width: 1px}
  &::-webkit-scrollbar-track { background: transparent}
  &::-webkit-scrollbar-thumb { background-color: transparent}
  background-color: $light; 
  overflow: auto;
  margin-top: $spacing;
  padding-bottom: $spacing;
  // a { color: $fg}
  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing;
    font: 400 #{$size}/1.75 $body}}

// MASONRY -------------------------------------------------------------------

$gutter: 10px;
.iso-item { margin-bottom: $gutter}
.iso-item,
.iso-sizer {
  height: auto;
  width: calc((100% - #{$gutter} * 3) / 4);
  @media(max-width:$breakpoint*2) {
    width: calc((100% - #{$gutter} * 2) / 3)}
  @media(max-width:$breakpoint*1.5) {
    width: calc((100% - #{$gutter} * 1) / 2)}
  @media(max-width:$breakpoint) {
    width: 100%}}
