<!DOCTYPE html>
<html lang='{{ site.Language }}'>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "footer.html" . -}}
  <script>
    const images = [...document.getElementsByTagName('img')];
    while (images.length) {
      images.shift().addEventListener('contextmenu',
        event => event.preventDefault())}
    var lazyLoadInstance = new LazyLoad();
  </script>
  </body>
</html>
