{{- define "main" -}}
<main id=list>
  <header class='light middle'>
    <article class=header>
      <h1>{{ .Title }}</h1>
      {{- with .Description -}}<p>{{ . }}</p>{{- end -}}
    </article>
  </header>
  <article class='bg bg-bar header'>
    {{ partial "gallery.html" .Pages }}
  </article>
</main>
{{- end -}}
