{{- define "main" -}}
<main id=post>
  <article class='cnt+2 row row-s row-x'>
    <div class='col col-9/12'>
      <section>
        <header>
          {{- $preview := resources.GetMatch .Params.preview -}}
          {{- if not $preview -}}
          {{- $preview = .Resources.GetMatch .Params.preview -}}
          {{- end -}}
          {{- with $preview -}}
          <div style='position:relative'>
            <img class='banner lazy'
                 src='{{ (.Fill "1080x1080 Center").RelPermalink }}'
                 data-src='{{ .RelPermalink }}'
                 loading=lazy>
            <div class=date>{{ $.Date.Format "01/02/2006" }}</div>
          </div>
          {{- end -}}
        </header>
        <h1>{{ .Title }}</h1>
        <div class='row row-s'>
          {{ .Content }}
        </div>
      </section>
    </div>
    <div class='col hide'>
      {{ partial "sidebar.html" . }}
    </div>
  </article>
</main>
{{- end -}}
