<footer>
  <article class='bg-bar light header'>
    <section>
      <div class='row row-x'>
      {{- with .Site.Params.contact -}}
      <ul class='inline col middle'>
        {{- with .instagram -}}
        <li>
          <a aria-label='Instagram link' href='{{ . }}' class='no-anim a-img'>
            <img alt='Instagram icon' class='icon' src='instagram.svg'>
          </a>
        </li>
        {{- end -}}
        {{- with .email -}}
        <li>
          <a aria-label='Email link' href='mailto:{{ . }}' class='no-anim a-img'>
            <img alt='Instagram icon' class='icon' src='email.svg'>
          </a>
        </li>
        {{- end -}}
        {{- with .facebook -}}
        <li>
          <a aria-label='Facebook link' href='{{ . }}' class='no-anim a-img'>
            <img alt='Instagram icon' class='icon' src='facebook.svg'>
          </a>
        </li>
        {{- end -}}
      </ul>
      {{- end -}}
      </div>
      <div class='row row-x'>
        <p class='col middle'>&copy; {{ .Site.Params.author }} {{ .Site.LastChange.Format "2006" }}. {{ .Site.Copyright }}</p>
      </div>
    </section>
  </article>
</footer>
