<section class='iso hero cnt+2'>
  <div class='iso-sizer'></div>
  {{- range $page := . -}}
    {{- if isset .Params "preview" -}}
      {{- with .Params.preview -}}
        {{- $preview := resources.GetMatch . -}}
        {{- if not $preview -}}
        {{- $preview = $page.Resources.GetMatch . -}}
        {{- end -}}
        <figure class='iso-item spoiler'>
          <a href='{{ $page.RelPermalink }}'
             aria-label='{{ $page.Title }}'>
            <img src='{{ ($preview.Resize (printf "%sx" (string (site.Params.image.default_width | default "525")))).RelPermalink }}'
                 data-src='{{ $preview.RelPermalink }}'
                 class=lazy
                 loading=lazy>
          </a>
          <figcaption class=spoiler-alt>
            <a href='{{ $page.RelPermalink }}' class=no-anim>
              <h3>{{ $page.Title }}</h3>
              <div class=link>{{ $page.Date.Format "01/02/2006" }}</div>
            </a>
          </figcaption>
        </figure>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</section>
