<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ cond .IsHome .Site.Title (.Title | default .Site.Title) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Param "description" }}<meta name="description" content="{{ cond $.IsHome $.Site.Params.description . }}">{{ end }}
    {{ with .Param "author" }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s:300,300i,400,400i,700,700i\"" (replace .Site.Params.fonts.body " " "+" | default "Heebo") | safeHTMLAttr }} type="text/css" media="all">
    <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s:400,400i\"" (replace .Site.Params.fonts.title " " "+" | default "Playfair+Display") | safeHTMLAttr }} type="text/css" media="all">

    {{- $opts := (dict "targetPath" "css/style.css" "enableSourceMap" true "includePaths" (slice "assets")) }}
    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js"></script>
    <script type='text/javascript' src='js/app.js'></script>
    {{- if not .IsPage -}}
    <script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script defer src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script defer type='text/javascript' src='js/masonry.js'></script>
    {{- end -}}
    {{ template "_internal/google_analytics_async.html" . }}
</head>
