<nav id=nav class='bg bar'>
  <ul class='inline link row row-x row-m cnt+1 bar'>
    <li class='col hide'><a href='https://mydarktheories.wordpress.com/'>Books</a></li>
    <li class='col hide'><a href='{{ .Site.BaseURL }}food'>Food</a></li>
    <li class=col>
      <a class='no-anim a-img' href='{{ .Site.BaseURL }}' aria-label=Home>
        <img class=logo
             alt='logo image'
             src='{{ (resources.GetMatch (.Param "logo")).RelPermalink }}'>
      </a>
    </li>
    <li class='col hide'><a href='{{ .Site.BaseURL }}lifestyle'>Lifestyle</a></li>

    <li class='col hide'><a href='https://trangxtran.com/'>About</a></li>

  </ul>
</nav>
<script>window.addEventListener("scroll", fade("nav"))</script>
