<aside id=sidebar>
  <div class='header middle'>
    <div class='h'>Categories</div>
    <ul class='vertical'>
      <li class=spaced>
        <a href='{{ .Type }}'>{{ .Type | title }}</a>
      </li>
      {{- range .Params.categories -}}
      <li class=spaced>
        <a href='categories/{{ . | anchorize }}'>{{ . }}</a>
      </li>
      {{- end -}}
    </ul>
  </div>
  <div class='middle h'>Latest Posts</div>
  {{- range first 3 site.RegularPages -}}
  <div class='middle'>
    <a class='clear' href='{{ .RelPermalink }}'>
      {{- with resources.GetMatch .Params.preview -}}
      <div class='border'>
        <img src='{{ (.Resize "240x").RelPermalink }}' alt='{{ $.Title }}'>
      </div>
      {{ else }}
      {{- with .Resources.GetMatch .Params.preview -}}
      <div class='border'>
        <img src='{{ (.Resize "240x").RelPermalink }}' alt='{{ $.Title }}'>
      </div>
      {{- end -}}
      {{- end -}}
      <p>
        <span>{{ .Title }}</span>
        <br>
        <span class='small'>{{ .Date.Format "01/02/2006" }}</span>
      </p>
    </a>
  </div>
  {{- end -}}
</aside>

