{{- define "main" -}}
<main id=home>
  <article id=cta class='light header'>
    <div class='hero-2 cnt+2 row row-x row-m'>
      {{- with  resources.GetMatch (.Param "preview") -}}
      <img class='hero banner lazy'
           src='{{ (.Fill "1920x1080").RelPermalink }}'
           data-src='{{ .RelPermalink }}'
           alt='banner image'
           loading=lazy>
      {{- end -}}
      <div class='col cnt cnt{{ with .Params.align }}-{{ . }}{{ end }}'>
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
      </div>
    </div>
  </article>
  <article class='bg bg-bar'>
    <header class=middle>
      {{ .Content }}
    </header>
    {{ partial "gallery.html" .Site.RegularPages -}}
  </article>
</main>
{{- end -}}
